<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/fonts/flaticon.css">

        <link rel="stylesheet" href="../static/css/magnific-popup.css">

    <!--owl carousel -->
    <link href="../static/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="../static/css/owl.carousel.min.css" rel="stylesheet">

    <!-- bootstrap core css -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- custom css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/style1.css" rel="stylesheet">
    <link href="../static/iofrm-style-1.css" rel="stylesheet">
    <link type="text/css" href="../static/css/css/style.css" rel="stylesheet" />


    <!-- responsive css -->
    <link href="../static/css/responsive.css" rel="stylesheet">
    <script>
$(document).ready(function(){
  $("h3").click(function(event){
    $("h3").hide();
  });
});
</script>
</head>
<body>
<header class="header">
                <!--start navbar-->
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="img/logo.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
                            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="form-inline my-2 my-lg-0">

{#                            <p id="cart-total">0</p>#}
                  <a href="{% url 'cart' %}">
                      <img src="/static/img/cart.png" alt="cart" id="cart-icon">
                  </a>
                            {% block login %}<a href="#" class="btn btn-primary"></a>{% endblock %}


              </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav mr-auto navbar-right">
                                <li class="active"><a class="page-scroll" href="{% url 'home' %}">خانه</a></li>
                                <li><a class="page-scroll" href="{% url 'products:list_product' %}">محصولات</a></li>
                                <li><a class="page-scroll" href="#features">ویژگی ها</a></li>
                                <li><a class="page-scroll" href="#faqs">پرسش و پاسخ</a></li>
                                <li><a class="page-scroll" href="#contact">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--end navbar-->
            </header>

{% block content %}

{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>
    {#$("#logout").click(function(){#}
    {#    let xhttp = new XMLHttpRequest();#}
    {#    let url = "{% url 'logout' %}"#}
    {#    xhttp.onload = function() {#}
    {#       console.log(this.state)#}
    {#        console.log(this.status)#}
    {#        console.log(this.response)#}
    {#}#}
    {#xhttp.open("GET", url);#}
    {#xhttp.send();#}
    {# $("#logout").hide();#}
    {#    $("#login").show();#}
    {# });#}
</script>
{% block jscript %}
{% endblock %}

</body>
</html>